body {
  background: #1a181c;
  font-family: "Nunito", sans-serif;
}

.blurb h2 {
  color: #f9b233;
  font-weight: 500;
  font-size: 2.5rem;
}

.Color {
  color: #f9b233;
}

.blurb p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #f9b233;
}

#mainNavbar .navbar-brand {
  color: #f9b233;
  font-size: 2rem;
  font-weight: 500;
}

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background: #c02d12;
  transition: background 500ms;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
  .blurb h2 {
    font-size: 2rem;
  }
}
